@media screen and (max-width:480px) {


    .button_to{
        width: 95px;
        height: 50px;
        margin-left: 30%;
        text-align: left;
        font-size: 25px;
        color: white;
        background: #009752;
        /*background: linear-gradient(to top left, red, white);*/
        border-radius: 10px;
        border-style: none;
        font-family: Arial;
    }
    #fantom{
        height: 20px;
    }
}