@import "bootstrap";



article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@media screen and (max-width: 13800px) {
    body{
        /*  background-image: url("login-bg-lg.jpg"); */
        background-size: cover;
        background-color: #ffffff;
        background: url("belneft_film.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #finishsuccess{
        margin-top: 10%;
        color: green;
        font-size: 30px;
        font-family: Arial;
    }
    #finishsuccess1{
        margin-top: 5%;
        color: black;
        font-size: 17px;
        font-family: Arial;
    }
    #finishfailed{
        margin-top: 10%;
        color: #e30613;
        font-size: 30px;
        font-family: Arial;
    }
    #finishfailed1{
        margin-top: 5%;
        color: black;
        font-size: 17px;
        font-family: Arial;
    }

    #logo {
        margin-left: 34%;
        margin-right: 45%;
        margin-top: 2%;
        width: 165px;
        height: 75px;
      /*  background: url("steps/WiFi_3.png");*/
        background-size: cover;
    }
    #site-logo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        font-size: 30px;
    }

    #site-description {
        margin: 0 0 15px;
        position: static;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 13px;
        font-family: Arial;
    }

    #content {

        margin-top: 2%;
        margin-bottom: 20%;
        margin-left: 30%; /* Отступ слева */
        margin-right: 20%;
        width: 40%; /* Ширина слоя */
        text-align: center;
        /* float: center;*/
        height: 600px;
        background: #ffffff;
        border: 1px solid #CCC;
        border-radius: 20px;
        opacity: 0.8;
        /*      box-shadow: 13px 13px 17px #000000;*/
        font-family: Arial;

    }

    #phone_number{
        width: 300px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        font-family: Arial;
    }

    .button_to1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 50px;
        width: 320px;
        height: 70px;
        color: white;
        background-color: #e30613;
        border-radius: 10px;
        /*  font-weight: bold;
          text-decoration: blink;
          font-style: oblique;*/
        font-family: Arial;
    }

    #footer {
        clear: both;
        position: absolute;
        margin-bottom: 0%;
        width: 100%;
        height: 30px;
        text-align: center;
        border-style: solid;
        padding: 9px;
        background-color: #fff;
        color: gray;
        /*      box-shadow: 10px 0px 0px #cc0000;*/
        opacity: 0.7;
        border-radius: 0px;
        font-family: Arial;
    }

    /*#flowcall{
        display: block;
        width: 100%;
        height: 20%;
        max-width: 100%;
        max-height: 100%;
        background: url("step-3.jpg");
        background-size: cover;
        margin: 0 auto;
    }*/
    #input_your_number_step{
        color: #585958;
        font-family: Arial;
    }
    #input_your_code_step{
        color: #e30613;
        text-decoration: line-through;
        font-family: Arial;
        font-weight: bold;
    }
    #use_an_internet_step{
        color: #e30613;
        font-family: Arial;
        font-weight: bold;
    }

    #splitter_for_step_line_chevron {
        position: relative;
        text-align: center;
        padding: 2px;
        margin-bottom: 6px;
        height: 1px;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        color: #e30613;
    }
    #splitter_for_step_line_chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 51%;
        background: #e30613;
        -webkit-transform: skew(0deg, 6deg);
        -moz-transform: skew(0deg, 6deg);
        -ms-transform: skew(0deg, 6deg);
        -o-transform: skew(0deg, 6deg);
        transform: skew(0deg, 6deg);
    }
    #splitter_for_step_line_chevron:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: #e30613;
        -webkit-transform: skew(0deg, -6deg);
        -moz-transform: skew(0deg, -6deg);
        -ms-transform: skew(0deg, -6deg);
        -o-transform: skew(0deg, -6deg);
        transform: skew(0deg, -6deg);
    }

    #gorizontal_splitter{
        /*border: none;*/
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background-color: #e30613;
        color: #e30613;
        height: 2px;
    }




}





















@media screen and (max-width: 980px) {
    body{
        /*  background-image: url("login-bg-t-m-lg.jpg"); */
        background-size: cover;
        background: url("belneft_film.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #logo {
        width: 330px;
        height: 150px;
      /*  background: url("steps/WiFi_3.png");*/
        background-size: cover;
        margin-left: 10%; /* Отступ слева */
        margin-right: 10%;
    }

    #site-logo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        font-size: 30px;
    }

    #site-description {
        margin: 0 0 15px;
        position: static;
        margin-left: 2%;
        margin-right: 2%;
        font-family: Arial;
    }

    #content {
        width: auto;
        float: none;
        margin: 20px 0;
        margin-left: 10%; /* Отступ слева */
        margin-right: 10%;
        margin-top: 2%;
        height: 650px;
        font-family: Arial;
    }

    #phone_number{
        width: 500px;
        height: 80px;
        font-size: 40px;
        text-align: center;
        font-family: Arial;
    }

    .button_to1{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 50px;
        width: 400px;
        height: 100px;
        color: black;
        background-color: #e30613;
        border-radius: 10px;
        /*  font-weight: bold;
          text-decoration: blink;
          font-style: oblique;*/
        font-family: Arial;
    }

    #footer {
        clear: both;
        position: absolute;
        margin-bottom: 0%;
        width: 100%;
        height: 40px;
        text-align: center;
        border-color: white;
        border-style: solid;
        padding: 9px;
        background-color: #ffffff;
        color: gray;
        /*    box-shadow: 10px 0px 0px #cc0000;*/
        opacity: 0.7;
        border-radius: 0px;
        font-family: Arial;
    }

    #input_your_number_step{
        color: #585958;
        font-family: Arial;
    }
    #input_your_code_step{
        color: #e30613;
        text-decoration: line-through;
        font-family: Arial;
        font-weight: bold;
    }
    #use_an_internet_step{
        color: #e30613;
        font-family: Arial;
        font-weight: bold;
    }
}











@media screen and (max-width:480px) {

    #site-logo {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        font-size: 17px;
    }

    #site-description{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: black;
        font-size: 13px;
        font-family: Arial;
    }

    #logo {
        width: 375px;
        height: 210px;
      /*  background: url("steps/Logo_with_footer.png");*/
        background-size: cover;
        margin-left: 0%; /* Отступ слева */
        margin-right: 0%;
    }

    #content {
        margin-top: 150px;
        margin-bottom: 100px;
        margin-left: 0%; /* Отступ слева */
        width: 100%; /* Ширина слоя */
        text-align: center;
        /* float: center;*/
        height: 240px;
        font-family: Arial;
        opacity: 0.9;
    }

    #phone_number{
        width: 250px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        border-radius: 5px;
        font-family: Arial;
    }

    .button_to1{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
        width: 230px;
        height: 60px;
        color: white;
        background: #323131;
        /*background: linear-gradient(to top left, red, white);*/
        border-radius: 10px;
        font-family: Arial;
        border-style: none;
    }

    #footer {
        clear: both;
        position: absolute;
        margin-bottom: 0%;
        width: 100%;
        height: 40px;
        text-align: center;
        border-color: white;
        border-style: solid;
        padding: 9px;
        background-color: #ffffff;
        color: gray;
        /*    box-shadow: 10px 0px 0px #cc0000;*/
        opacity: 0.7;
        border-radius: 0px;
        font-family: Arial;
        margin-top: 20%;
    }

    #input_your_number_step{
        color: #585958;
        font-family: Arial;
    }
    #input_your_code_step{
        color: red;
        text-decoration: line-through;
        font-family: Arial;
        font-weight: bolder;
    }
    #use_an_internet_step{
        color: red;
        font-family: Arial;
        font-weight: bold;
    }





    #splitter_for_step_line_chevron {
        position: relative;
        text-align: center;
        padding: 2px;
        margin-bottom: 6px;
        height: 1px;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        color: #ffffff;

    }
    #splitter_for_step_line_chevron:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 51%;
        background: #e30613;
        -webkit-transform: skew(0deg, 6deg);
        -moz-transform: skew(0deg, 6deg);
        -ms-transform: skew(0deg, 6deg);
        -o-transform: skew(0deg, 6deg);
        transform: skew(0deg, 6deg);
    }
    #splitter_for_step_line_chevron:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: #e30613;
        -webkit-transform: skew(0deg, -6deg);
        -moz-transform: skew(0deg, -6deg);
        -ms-transform: skew(0deg, -6deg);
        -o-transform: skew(0deg, -6deg);
        transform: skew(0deg, -6deg);
    }

    #gorizontal_splitter{
        /*border: none;*/
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background-color: #ffffff;
        color: #ffffff;
        height: 2px;
    }

}