

@media screen and (max-width: 980px) {
    a {
        color: red;
    }
}


@media screen and (max-width: 650px) {
    #header {
        height: auto;
    }
    #searchform {
        position: absolute;
        top: 5px;
        right: 0;
    }
    #main-nav {
        position: static;
    }
    #site-logo {
        margin: 15px 100px 5px 0;
        position: static;
    }
    #site-description {
        margin: 0 0 15px;
        position: static;
    }
    #content {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    #sidebar {
        width: 100%;
        float: none;
        margin: 0;
    }
}


@media screen and (max-width:574px) {
    .logo-box {
        float: none;
        margin: 0 auto;
    }
    ul {
        float: none;
        margin: 0 25px;
    }
    li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
    nav {
        overflow: visible
    }
    ul {
        height: auto;
        margin: 25px 25px 0 25px;
        line-height: 50px;
    }
    li {
        display: block;
        margin: 0;
    }
    li:hover {
        background: rgba(0,0,0,.1)
    }
    li a:after {
        content: none;
    }
}

