@import "bootstrap";

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#pagewrap {
    width: 980px;
    margin: 0 auto;
}
#header {
   /* display: inline; /* Отображать как строчный элемент */
   /* margin-right: 5px; /* Отступ слева */
   /* border: 1px solid #000; /* Рамка вокруг текста */
   /* padding: 3px; /* Поля вокруг текста */


   /* height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;*/
}
#content {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 30%; /* Отступ слева */
    width: 40%; /* Ширина слоя */
    text-align: center;
   /* float: center;*/
    height:270px;
    background:#F0F0F0;
    border:1px solid #CCC;
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 13px 13px 17px #000000;

}
#sidebar {
    width: 0px;
    float: right;
}
#footer {
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;

    border-width:1;
    border-color: rgb(190,190,190);
    border-style: solid;
    padding: 8px;
    background-color: #fff;
    color: #B00100;
    box-shadow: 10px 10px 10px #cc0000;
    opacity: 0.5;
    border-radius: 10px;
}

body {
    background-image: url("devushka-lezhit-s-noutbukom1.jpg");
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover; /* Фон занимает всю доступную площадь */
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}



header {
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
}
nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
}
.logo-box {
    float: left;
    margin-left: 25px;
}
.logo {
    margin: 0;
    height: 70px;
    text-align: center;
}
ul {
    margin: 0;
    margin-right: 25px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 70px;
    line-height: 70px;
    text-align:center;
}
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
li a {
    color: #868686;
    text-transform: uppercase;
}
li {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;
}
li a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #868686;
    transition: all 0.5s linear;
}
li a:hover:after{
    width: 100%;
}

