<html>
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body text-align:center>
<div id="pagewrap">
  <header id="header">
  </header>
  <!--
  <aside id="sidebar">
    <section class="widget">
      widget
    </section>
  </aside>
  -->

</div>
</body>
</html>
<!DOCTYPE html>
<html>
<body>
<%= yield %>
<footer id="footer">
 <%= @footer %>
</footer>
</body>
</html>
